.quick-toggle {
    padding: 15px;
    .icon {
        font-size: 22pt;
    }
    .label {
        font-family: $text-font;
        font-size: 10pt;
    }
}

.quick-toggle:hover     { background-color: rgba($base04, 0.4); }
.quick-toggle.on        { color: $base02;
                          // TODO box-shadow: 0px 0px 7px 2px $accent-color;
                          background-color: rgba($accent-color, 0.8); }
.quick-toggle.on:hover  { background-color: rgba($accent-color, 0.4); }
.quick-toggle.switching { background-color: rgba($accent-color, 0.4); }
