.widget.player {
    color: $base06;

    .track-info {
        .artist {
            font-weight: bold;
        }
        .separator {
            color: $base04;
        }
    }

    .playback-info {
        color: $base04;
    }
}
