.workspaces {
}

.workspace-entry {
  font: 12pt $icon-font;
  padding: 0 7px;
}

.workspace-entry.empty {
  color: $base07;
  opacity: 0.4;
}
.workspace-entry.occupied {
  color: $base07;
}
.workspace-entry.urgent {
  color: $base08;
}

.workspace-entry.monitor_0 {
  background-color: $base03;
  box-shadow: inset 0 (-$indicator-line-width) $base0E;
}

.workspace-entry.monitor_1 {
  box-shadow: inset 0 (-$indicator-line-width) $base04;
}
