.key-binding-chord {
    font-family: Hack Nerd Font;
    font-size: 24pt;
    color: $base04;
}

.key-binding-entry {
    font-family: Hack Nerd Font;
    font-size: 18pt;
}

.key-binding-entry .key-binding-key {
    color: $base0B;
}

.key-binding-entry .key-binding-separator {
    color: $base03;
}

.key-binding-entry .key-binding-description {
    color: $base0D;
}
